# all later jupyter-book versions break the references.md file
# fix also all other versions for faster resolution of dependencies
jupyter-book==0.13.1

ipykernel==6.26.0
pandas==2.1.2
scikit-learn==1.3.2

# visualization
matplotlib==3.8.1
plotly==5.18.0
seaborn==0.13.0
arviz==0.16.1

# pytorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
torchvision==0.16.0
